# build
bin/
obj/
node_modules/

# secrets
.env
appsettings.Development.json

# mac
.DS_Store

# vscode
.vscode/

# logs
*.log
web.config

# runtime uploads
wwwroot/uploads/profiles/
wwwroot/uploads/requirement-cards/

keys/
inetpub/
C:/inetpub/
