<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>

      <aspNetCore processPath="dotnet" arguments=".\ProjectTracking.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="MYSQL_CONNECTION" value="Server=61.7.192.212;Database=implement_db;User=implement_db;Password=Ee8!yWI93lo2H5PQ;" />
                    <environmentVariable name="SMTP_SERVER" value="smtp.gmail.com" />
                    <environmentVariable name="SMTP_PORT" value="587" />
                    <environmentVariable name="SMTP_USERNAME" value="panutthakondet.pm@gmail.com" />
                    <environmentVariable name="SMTP_PASSWORD" value="sgpjelnconqftfmi" />
                    <environmentVariable name="SMTP_FROM" value="panutthakondet.pm@gmail.com" />
                    <environmentVariable name="SMTP_ENABLE_SSL" value="true" />
                    <environmentVariable name="SMTP_SENDER_EMAIL" value="panutthakondet.pm@gmail.com" />
          <!-- ถ้ามีค่าอื่นๆ ก็ใส่เพิ่มตรงนี้ได้ -->
        </environmentVariables>
      </aspNetCore>

    </system.webServer>
  </location>
</configuration>